h1{
    color:yellow;
    text-align: center;
}/* tag selector */
#a1{
    color: royalblue;
    text-align: right;
} /* right and end are same */ 
/* id selector */
.c1{
    color: red;
    text-align: start;
} /* left and start are same */
 /* class selector */
#d1{
    background-color:salmon ;
}
#d2{
    background-color: silver;
}